# python package requirements

pymongo==2.8
tornado==4.3
#GitPython == 0.3.3
#logging == 0.4.9.6

# make url requests easier
requests == 2.18.4

#qrcode
#qrcode == 5.1

#jenkins-api
#python-jenkins==0.4.12
tabulate==0.8.2